<% include ../templates/header %>

<div id="header">
    <h1>Seznam úkolů</h1>
    <p class="bigtext">Přehledný seznam dokončených a nedokončených úkolů.</p>
</div>
<div id="body">
    <form id="login" name="login">
        <input type="text" name="username" required/>
        <input type="password" name="password" required/>
        <input type="submit" value="Přihlásit se"/>
    </form>
</div>

<% include ../templates/footer %>