<% include ../templates/header %>

<div id="header">
  <h1>TUDU!</h1>
  <p class="bigtext">Seznam úkolů na které nechcete zapomenout…</p>
</div>
<div id="body">
  <h2 id="hlavni">Spravujte své poznámky chytřeji!</h2>
  <ul>
    <li>Dostupné zdarma pro každého</li>
    <li>Jednoduchá správa poznámek</li>
    <li>Postupné odškrtávání</li>
    <li>Editace vytvořených poznámek</li>
    <li>Vaše přihlašovací údaje jsou v bezpečí</li>
    <li>Open-source</li>
  </ul>
  <hr/>
  <div class="login-form">
    <a href="/list" class="bigbutton">Začněte nyní!</a>
  </div>

</div>

<% include ../templates/footer %>