<% include ../templates/header %>

<div id="header">
  <h1>Dobrý den! Zdravím Vás na své stránce a nejen to…</h1>
  <p class="bigtext">Vítejte na mém webu, kde najdete důležité informace, kontakty, práce a mé zájmy.</p>
  <ul class="contents">
    <li><a href="#hlavni">Hlavní body zadání</a></li>
  </ul>
</div>
<div id="body">
  <h2 id="hlavni">Hlavní body zadání</h2>
  <ol>
    <li>Oddělené záhlaví, zápatí menu a obsah, vytvořené pomocí sémantických elementů HTML5</li>
    <li>Menu vytvořené pomocí seznamu s příslušným stylem</li>
    <li><a href="omne.html">Odstavce a nadpisy 1 – 3 úrovně</a></li>
    <li><a href="omne.html#cis">Číslovaný</a> a <a href="omne.html#necis">nečíslovaný</a> seznam (každý minimálně celkem 7 položek ve dvou úrovních)</li>
    <li><a href="odkud.html">Odkazy z textu obsahu a odkazy na fragment stránky</a></li>
    <li><a href="odkud.html">Minimálně 3 obrázky jako součást hlavního obsahu stránky</a></li>
    <li><a href="kontakty.php#rozvrh">Tabulku s popiskem a záhlavím, využívající spojování buněk v horizontálním i vertikálním směru</a></li>
    <li><a href="">Formulář obsahující minimálně 3 viditelné elementy, využívající <code>fieldset</code>, <code>legend</code> a <code>label</code></a></li>
    <li><a href="odkud.html">Syntakticky vyznačené zvýraznění a zkratky</a> (<code>em</code>, <code>strong</code>, <code>abbr</code>)</li>
  </ol>
</div>

<% include ../templates/footer %>