<% include ../templates/header %>

<div id="header">
    <h1>Seznam úkolů</h1>
    <p class="bigtext">Přehledný seznam dokončených a nedokončených úkolů.</p>
</div>
<div id="body">
    <form id="addTask" name="addTask">
        <input type="text" name="taskText"/>
        <input type="submit" />
    </form>

    <table id="list" style="width: 100%">
        <tbody>
            <% for (let i = 0; i < polozky.length; i++) { %>
                <tr id="task-<%= polozky[i].id %>">
                    <td class="polozka"><%= polozky[i].task %></td>
                    <td class="tlacitka"><button class="edit">Upravit</button><button class="remove">Odstranit</button></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<% include ../templates/footer %>