<% include ../templates/header %>

<div id="header">
    <h1>Seznam úkolů</h1>
    <p class="bigtext">Přehledný seznam dokončených a nedokončených úkolů.</p>
</div>
<div id="body">
    <form id="addTask">
        <input type="text" id="task"/>
        <input type="submit" />
    </form>

    <table id="list" style="width: 100%">
        <% for (let i = 0; i < polozky.length; i++) { %>
            <tr id="task-<%= polozky[i].id %>">
                <td class="polozka"><%= polozky[i].id %> - <%= polozky[i].task %></td>
                <td class="tlacitka"><button class="edit">Upravit</button><button class="remove">Odstranit</button></td>
            </tr>
        <% } %>
    </table>

</div>

<script type="text/javascript">
    Array.from(document.getElementsByClassName("remove")).forEach(e => {
        e.addEventListener('click', a => {
            a.preventDefault();
            let taskID = a.target.parentElement.parentElement.id.replace("task-", "");
                xhr = new XMLHttpRequest();

            xhr.open('DELETE', '/list/remove');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    if (xhr.responseText === "true") {
                        a.target.parentElement.parentElement.remove();
                    } else {
                        alert("Položku se nepodařilo odstranit");
                    }
                } else if (xhr.status !== 200) {
                    alert('Požadavek selhal. Chyba ' + xhr.status);
                }
            };
            xhr.send(encodeURI('task=' + taskID));
        });
    });

    document.getElementById("addTask").addEventListener('submit', e => {
        e.preventDefault();
        let task = document.getElementById("task").value,
            xhr = new XMLHttpRequest();

        xhr.open('POST', '/list/add');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
            if (xhr.status === 200) {
                let response = JSON.parse(xhr.responseText);
                let parent = document.createElement("tr");
                let node = document.createElement("td");
                let textnode = document.createTextNode(response.id + " - " + response.task);
                node.classList.add('polozka');
                node.appendChild(textnode);
                parent.appendChild(node);
                document.getElementById("list").getElementsByTagName("tbody")[0].appendChild(parent);
            } else if (xhr.status !== 200) {
                alert('Požadavek selhal. Chyba ' + xhr.status);
            }
        };
        xhr.send(encodeURI('task=' + task));
    });
</script>


<% include ../templates/footer %>