<% include ../templates/header %>

<div id="header">
    <h1>Seznam úkolů</h1>
    <p class="bigtext">Přehledný seznam dokončených a nedokončených úkolů.</p>
</div>
<div id="body">
    <form method="POST" action="/submit-form">
        <input type="text" name="username" />
        <input type="submit" />
    </form>

    <ul>
        <% for (let i = 0; i < polozky.length; i++) { %>
                <li><%= polozky[i].id%> - <%= polozky[i].name%></li>
        <% } %>
    </ul>

</div>

<% include ../templates/footer %>