<% include ../templates/header %>

<div id="body" class="login-form">
    <h1>Registrace uživatele</h1>
    <p class="bigtext">Abyste mohli tento seznam používat, je potřeba se zaregistrovat.</p>
    <form id="login" name="register" autocomplete="off" method="post" action="/auth/register">
        <input type="text" name="username" placeholder="Uživatelské jméno" maxlength="40" required/><br/>
        <input type="password" id="password" name="password" pattern="(?=.*\d)((?=.*[a-z])|(?=.*[A-Z])).{8,}"  placeholder="Heslo" required/><br/>
        <input type="password" id="confirmp" placeholder="Zopakujte heslo" required/><br/>
        <input type="checkbox" class="hidePass" onclick="showPass()">Nezakrývat<br/>
        <input type="submit" value="Zaregistrovat"/>
    </form>
    <div id="message">
        <h3>Heslo musí minimálně splňovat:</h3>
        <p id="letter" class="invalid">Alespoň jedno písmeno</p>
        <p id="number" class="invalid">Alespoň jedno číslo</p>
        <p id="length" class="invalid">Minimálně 8 znaků</p>
        <p id="match" class="invalid">Hesla se musí shodovat</p>
    </div>
</div>

<script>
    let password = document.getElementById("password"),
        confirmp = document.getElementById("confirmp"),
        letter = document.getElementById("letter"),
        number = document.getElementById("number"),
        length = document.getElementById("length"),
        match = document.getElementById("match"),

        validatePassword = () => {
            if (password.value !== confirmp.value) {
                confirmp.setCustomValidity("Hesla se neshodují");
                match.classList.remove("valid");
                match.classList.add("invalid");
            } else {
                confirmp.setCustomValidity('');
                match.classList.remove("invalid");
                match.classList.add("valid");
            }
        },
        showPass = () => {
            if (password.type === "password") {
                password.type = "text"
                confirmp.type = "text";
            } else {
                password.type = "password";
                confirmp.type = "password";
            }
        };

    password.onchange = validatePassword;
    confirmp.onkeyup = validatePassword;
    password.onkeyup = () => {
        //Ověření znaků
        let lowerCaseLetters = /([a-z]|[A-Z])/g;
        if (password.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        //Ověření čísel
        let numbers = /[0-9]/g;
        if (password.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        //Ověření délky
        if (password.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    };
</script>

<% include ../templates/footer %>