/* CSS pro tisk */

/* Tělo */

body {
	background-color: #fff;
	color: #000;
}

#wrap {
    margin: unset;
    max-width: unset;
    min-width: unset;
	border: none;
	background-color: #fff;
}

/* Hlavička */

header {
	height: 50px;
	background-color: #fff;
}

.logoname {
	padding: 10px 10px 10px 15px;
}

img.logo {
	max-height: 50px;
}

/* Odkazy */

a {
	color: rgb(100, 150, 200);
}

/* Menu */

nav {
    display: none;
}

/* Stránka s textem */

h1 {
	color: #83a0e7;
}

h2 {
	color: #83a0e7;
}

h3 {
	color: #83a0e7;
}


/* Tabulka */
table, th, td {
	background-color: #dddddd;
}

th {
	background-color: rgb(200, 200, 200);
}

.timetable .cviceni {
	border: 1px solid #000;
	background-color: #9ac9b1;
}

.timetable .prednaska {
	border: 1px solid #000;
	background-color: #acacac;
}

/* Footer */

footer {
    padding: 0;
}

footer .right {
    display: none;
}