<footer>
    <div class="left">
        <span>&copy; 2019 – Kristián Jacik (nejento)</span>
    </div>
    <div class="right">
        <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fnejento.eu%3A3000">
            <svg enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 334.63 379.71">
                <title>HTML5 webu je validní</title>
                <g transform="translate(-88.686 -111.98)" fill="#fff">
                    <path d="m200.66 266.68h55.338v-42.92h-59.169zm-111.98-154.69 30.47 341.74 136.76 37.966 136.89-37.948 30.507-341.76h-334.63zm278.01 320-110.69 30.687v-43.494l-0.067 0.02-85.858-23.835-6.004-67.298h42.075l3.116 34.914 46.68 12.607 0.059-0.019v-66.973h-93.669l-11.306-126.75h104.97v-41.914h136.77z"></path>
                    <path d="m307.59 308.59h-51.592v66.974l46.728-12.613zm-51.592-168.66v41.914h104.98l-3.754 41.915h-101.22v42.92h97.406l-11.499 128.68-85.907 23.815v43.494l110.69-30.687 26.071-292.06h-136.76z" opacity=".8"></path>
                    <g opacity=".2">
                        <polygon points="256 266.68 200.66 266.68 196.83 223.76 256 223.76 256 181.84 151.02 181.84 162.33 308.59 256 308.59"></polygon>
                        <polygon points="164.07 328.06 170.07 395.36 255.93 419.19 256 419.17 256 375.56 255.94 375.58 209.26 362.98 206.15 328.06"></polygon>
                    </g>
                </g>
            </svg>
        </a>
        <a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fnejento.eu%3A3000%2Fstylesheets%2Fstyle.css&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=cs">
            <svg version="1.1" viewBox="0 0 220.5 199.5">
                <title>CSS webu je validní</title>
                <path d="m32.8 0-7.4 37h150.6l-4.7 23.9h-150.7l-7.3 37h150.6l-8.4 42.2-60.7 20.1-52.6-20.1 3.6-18.3h-37l-8.8 44.4 87 33.3 100.3-33.3 13.3-66.8 2.7-13.4 17.1-86z" fill="#fff"></path>
            </svg>
        </a>
    </div>
</footer>
</div>
</body>
</html>