<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TUDŮ! &bullet; <%= title %> </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i%7CNunito:400,800&amp;subset=latin-ext">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link rel="stylesheet" href="stylesheets/style.css" type="text/css" >
		<link rel="stylesheet" href='stylesheets/print.css' type="text/css" media="print">
		<!--[if IE]><link rel="shortcut icon" href="images/favicons/favicon.ico"><![endif]-->
		<link rel="icon" href="images/favicons/favicon.png">
		<link rel="apple-touch-icon-precomposed" href="images/favicons/apple-touch-icon-precomposed.png">
		<meta name="theme-color" content="#18283D">
		<meta name="msapplication-navbutton-color" content="#18283D">
		<meta name="apple-mobile-web-app-status-bar-style" content="#18283D">
        <% if (typeof polozky == "object") { %><script type="text/javascript" src="javascripts/listManipulation.js"></script><% } %>
    </head>
    <body>
        <div id="wrap">
            <header>
                <div class="logoname">
                    <a href="/"><img class="logo" src="images/crop-nejento-round.png" alt="nejento"/></a>
                </div>
            </header>
            <nav>
                <ul>
                    <li><a href="/">Domů</a></li>
                    <li><a href="/list">Seznam</a></li>
                </ul>
                <% if (typeof loggedin == "boolean") {%>
                    <ul class="menu-right">
                        <li><a href="/auth/logout">Odhlásit</a></li>
                    </ul>
                <% } %>

            </nav>

            <% if (typeof infobox == "string") {%>
                <div class="infobox <% if (typeof infoboxType == "string") {
                        switch (infoboxType) {
                            case "ok":
                            case "done":
                            case "check":
                                %>green<%
                                break;
                            case "info":
                            case "information":
                                %>blue<%
                                break;
                            case "warn":
                            case "warning":
                                %>yellow<%
                                break;
                            case "err":
                            case "error":
                                %>red<%
                                break;
                            default:
                                %><%= infoboxType %><%
                        }
                    } %> ">
                    <% if (typeof infoboxType == "string") {
                        switch (infoboxType) {
                            case "ok":
                            case "done":
                            case "check":
                                %><i class="fas fa-check"></i><%
                                break;
                            case "info":
                            case "information":
                                %><i class="fas fa-info"></i><%
                                break;
                            case "warn":
                            case "warning":
                                %><i class="fas fa-exclamation"></i><%
                                break;
                            case "err":
                            case "error":
                                %><i class="fas fa-times"></i><%
                                break;
                        }
                    } %>
                    <%= infobox %>
                </div>
            <% } %>