<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TUDŮ! &bullet; <%= title %> </title>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i%7CNunito:400,800&amp;subset=latin-ext" rel="stylesheet">
		<link href="stylesheets/style.css" type="text/css" rel="stylesheet">
		<link href='stylesheets/print.css' type="text/css" rel="stylesheet" media="print">
		<!--[if IE]><link rel="shortcut icon" href="images/favicons/favicon.ico"><![endif]-->
		<link rel="icon" href="images/favicons/favicon.png">
		<link rel="apple-touch-icon-precomposed" href="images/favicons/apple-touch-icon-precomposed.png">
		<meta name="theme-color" content="#18283D">
		<meta name="msapplication-navbutton-color" content="#18283D">
		<meta name="apple-mobile-web-app-status-bar-style" content="#18283D">
        <% if (typeof polozky == "object") { %><script type="text/javascript" src="javascripts/listManipulation.js"></script><% } %>
    </head>
    <body>
        <div id="wrap">
            <header>
                <div class="logoname">
                    <a href="/"><img class="logo" src="images/crop-nejento-round.png" alt="nejento"/></a>
                </div>
            </header>
            <nav>
                <ul>
                    <li><a href="/">Domů</a></li>
                    <li><a href="/list">Seznam</a></li>
                </ul>
            </nav>